@font-face {
    font-family: King;
    src: url('HelloValentina.ttf');
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body,main {
    height: 100%;
    width: 100%;
}
main {
    background-color: rgba(255, 0, 0, 0.452);
    background-image: url('wallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.623);
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-family: King;
    font-size: 100px;
}